<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="app.component.css" rel="stylesheet"> -->
  </head>

  <body>

    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">{{title}}</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2"
              [value]="searchText"
              (input)="searchText = $event.target.value"
              type="text"
              placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"
              (click)="onSearchClicked()"
              type="submit">Search</button>
          </div>
        </div>
      </div>

      <div class="container" *ngIf="basicExploreFinished">
        <h2> <a href="{{basicInfo.homePage}}"> {{basicInfo.label.split('"')[1]}} </a> </h2>
        <hr>
        <a href="{{basicInfo.geoLink}}">GeoNames</a> <p></p>
        <iframe [src]="basicInfo.geoLink | safe" width=800 height=600 scrolling="no"></iframe>
        <h3>Broader information</h3>
        <div class="row"  *ngFor="let result of broaderInfo">
          <div class="col-md-6">
            <p>
              {{result.resourceName}}
              <a *ngIf="result.label && result.homePage" href="{{result.homePage}}"> {{result.label.split('"')[1]}} </a>
              <a *ngIf="result.label && !result.homePage"> {{result.label.split('"')[1]}} </a>
              <a *ngIf="!result.label && result.homePage" href="{{result.homePage}}"> {{result.homePage}} </a>
              <!-- <a *ngIf="!result.label && !result.homePage"> {{result.resourceName.split(':')[2]}} </a> -->
              <button (click)="onViewMoreClicked(result.resourceName.split(':')[2])">View more</button>
            </p>
          </div>
          <!-- <div class="col-md-6">
            <p>
              <a *ngIf="result.homePage" href="{{result.homePage}}"> {{result.label.split('"')[1]}} </a>
              <a *ngIf="!result.homePage"> {{result.label.split('"')[1]}} </a>
            </p>
          </div> -->
        </div>

        <h3>Narrower information</h3>
        <div class="row"  *ngFor="let result of narrowerInfo">
          <div class="col-md-6">
            <p>
              {{result.resourceName}}
              <a *ngIf="result.label && result.homePage" href="{{result.homePage}}"> {{result.label.split('"')[1]}} </a>
              <a *ngIf="result.label && !result.homePage"> {{result.label.split('"')[1]}} </a>
              <a *ngIf="!result.label && result.homePage" href="{{result.homePage}}"> {{result.homePage}} </a>
              <button (click)="onViewMoreClicked(result.resourceName.split(':')[2])">View more</button>
            </p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- <footer class="container">
      <p>tiqi &amp; penjin</p>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  <!-- <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div style="text-align:center">
      <input [value]="searchText"
        (input)="searchText = $event.target.value"
        type="text" 
        name="fname"
        placeholder="Input here">
      <input (click)="onSearchClicked()" 
        type="submit" 
        value="Search">
    </div>
    <div *ngIf="searchFinished">
      <div class="list-item" *ngFor="let result of results">
        <hr>
        Homepage: <a href="{{result.homePage}}">link</a> <br>
        Label: {{result.label}}<br>
        broader1: {{result.broader1}} <br>
        broader1Homepage: {{result.broader1Homepage}} <br>
        broader1Label: {{result.broader1Label}} <br>
        broader2: {{result.broader2}} <br>
        broader2Homepage: {{result.broader2Homepage}} <br>
        broader2Label: {{result.broader2Label}} <br>
      </div>
    </div> -->
</html>
